@import url(root.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.logo {
    height: 60px;
}

.logo-text {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}

.separator {
    height: 40px;
    width: 1.5px;
    background-color: black;
}

.sidebar {
    background-color: var(--bs-primary) !important;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    margin: 15px 0;
    display: block;
}

.sidebar .sign-out {
    background-color: white;
    padding: 1%;
    text-align: center;
    margin-top: 19rem;
    border-radius: 4%;
}

.main-content {
    padding: 20px;
}

/* User profile section */
.profile-card {
    background-color: #112B54;
    color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.profile-card img {
    border-radius: 50%;
    margin-right: 20px;
}

.event-card {
    border: 1px solid #112B54;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}