
.fc-col-header-cell-cushion {
    color: #203b70 !important;
}

.fc-daygrid-day-number {
    color: #203b70 !important;
}

.fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    color: #203b70 !important;
}

.fc-event {
    background-color: #203b70 !important;
}

.fc-button.fc-button-primary {
    color: white !important;
}

.modal-dialog {
    max-width: 80%;
    margin: 30px auto;
}

#calendar {
    width: 100%;
    display: block;
}

@media (max-width: 768px) {
    .modal-dialog {
        max-width: 90%;
    }

    #calendar {
        height: auto;
    }
}