@import url(root.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif !important;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.logo {
  height: 60px;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
}

.separator {
  height: 40px;
  width: 1.5px;
  background-color: black;
}

.hero {
  background: url("../img/Blue-BG.png") no-repeat center center/cover;
  min-height: calc(100vh - 100px);
  display: flex;
  color: white;
}

#about {
  padding-top: 50px;
}

.about {
  margin-bottom: -100px;
}

.sub-title {
  color: #6c757d;
  font-weight: bold;
  text-transform: uppercase;
}

/*** Footer Start ***/
.footer {
  background: var(--bs-primary) !important;
}

.footer .footer-item a {
  line-height: 30px;
  color: white;
  transition: 0.5s;
}

.footer .footer-item p {
  line-height: 30px;
}

.footer .footer-item a:hover {
  color: white;
}

.foothead {
  color: whitesmoke;
}

.navbar-nav .nav-link.active {
  color: #203b70;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero button {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .separator {
    display: none;
  }
}