::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: #b0b0b0;
    opacity: 50%;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #203b70;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #203b70;
  }